---
import SEO from "@/ui/SEO.astro"
import { Navbar } from "@/ui/navbar"
import { blue_scrollbar_class } from "@/ui/utils/scrollbar_"
export interface Props {
	title: string
	description: string
	image?: string
}

const { title, description, image } = Astro.props as Props

const canonicalURL = new URL((new URL(Astro.request.url).pathname), Astro.site)

// const canonicalURL = new URL(Astro.url, Astro.site)
// console.dir(Astro,{depth:Infinity})
---

<html lang="en">
	<head>
		<SEO title={title} description={description} image={image} canonicalURL={canonicalURL} />
	</head>

	<body
		class={`w-full min-h-screen flex flex-col items-center bg-white dark:bg-slate-900 bg-grid-slate-200 dark:bg-grid-slate-800 ${blue_scrollbar_class}`}
	>
		<section
			class="w-full min-h-screen bg-gradient-to-t from-white/80 via-white/50 to-white/10 dark:from-slate-900/80 dark:via-slate-900/50 dark:to-slate-500/10 flex flex-col items-center"
		>
			<!-- 64rem 1024px 5xl -->
			<Navbar client:idle />
			<slot></slot>
		</section>
	</body>
</html>
